@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

::selection {
    background: #000;
    color: #0000ff;
    color: #fff;
}

::-moz-selection {
    background: #000;
    color: #fff;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 15px;
    background: #000;
    width: 10px;
    height: 50px;
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-display: fallback;
}

.bannerier{
    background: url('../../public/assets/banner.jpg') no-repeat center center;
    background-size: cover;
}

body {
    background-color: #e9e8e8;
}

.font-poppins {
    font-family: " Poppins", sans-serif;
}

.container {
    margin: 0 auto;
    max-width: 1700px !important;
}

@layer components {
    .top-76 {
        top: 300px;
    }

    .h-30 {
        height: 100px;
    }

    .details a {
        @apply text-blue-500 hover:underline;
    }

    .avis input, .avis textarea {
        @apply border-none shadow-md shadow-gray-500
    }
}
